.sidenav {
   
  
    z-index: 1;    
    background-color: transparent;
    overflow-x: hidden;
    padding: 8px 0;
    padding-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidenav a {
    padding: 5px 6px 6px 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    background-color: #064579;
    border-radius: 10px;
    margin-left: 40px;
  }
  
  .sidenav a:hover {
    color:wheat;
  }
  .selected{
    color: red;
  }